.ar-hover-title {
     position: absolute;
     display: block;
     z-index: 1;
     width: 100%;
     max-width: 800px;
     text-align: center;
     left: 0;
     right: 0;
     top: 45%;
     bottom: 0;
     margin-bottom: 0;
     margin-left: auto;
     margin-right: auto;
     background-color: $brand-primary;
     background-image: url(../images/mobile-logo.png);
     background-size: contain;
     background-repeat: no-repeat;
     background-position: center center;
     text-indent: -2000px;
     overflow: hidden;
     @include breakpoint(medium) {
          top: 0;
          height: auto;
          background-color: transparent;
          background-image: url(../images/full-logo.png);
     }
}

.stripe-slider section {
     position: relative;
}

#download {
     text-align: center;
}

.top-bar .desktop-menu > li.menu-item.downloadicon > a {
     &:before {
          display: none;
     }
     display: block;
     background: $brand-primary;
     background-image: url(../images/icons/download-icon.svg);
     background-size: 20px auto;
     border: 0;
     background-repeat: no-repeat;
     background-position: center;
     width: 40px;
     height: 40px;
     margin: 10px;
     overflow: hidden;
     border-radius: 50%;
     text-indent: -10000px;
     &:focus, &:hover {
          background-color: darken($brand-primary, 10%);
     }
}

#welcome, #sectorsupport, #greatproject, #yesproject, #values, #valawards {
     h2 {
          @include breakpoint(large) {
               font-size: 2.5rem;
          }
          position: relative;
          margin-bottom: 2rem;
          &:after {
               content: "";
               position: absolute;
               height: 5px;
               bottom: -15px;
               width: 2em;
               left: 0;
               right: 0;
               margin-left: auto;
               margin-right: auto;
               background-color: #fff;
          }
     }
}

#will {
     h2 {
          @include breakpoint(large) {
               font-size: 2.5rem;
          }
          position: relative;
          margin-bottom: 2rem;
          &:after {
               content: "";
               position: absolute;
               height: 5px;
               bottom: -15px;
               width: 2em;
               left: 0;
               right: 0;
               margin-left: auto;
               margin-right: auto;
               background-color: #231e46;
          }
     }
}

#welcome .text-align-left {
     h2:after {
          margin-left: 0;
          background-color: $brand-primary;
     }
}

.scroll_down {
     color: $white;
     font-weight: bold;
     margin: auto;
     position: absolute;
     top: auto;
     left: 0;
     bottom: 0;
     right: 0;
     height: 8%;
     z-index: 999;
     text-align: center;
     text-indent: -999;
     @include breakpoint(medium) {
     text-shadow: 0px 0px 11px rgba(0, 0, 0, 1);
     height: 100px;
     }
     span {
          display: none;
          @include breakpoint(medium) {
               display: block;
          }
     }
     
     &:hover, &:focus {
          color: $white;
          .svg-icon {
               transform: translate3d( 0, 5px, 0 );
          }
     }
     .svg-icon {
          transition: all 0.25s;
          margin: auto;
          position: absolute;
          left: 0;
          right: 0;
          clear: both;
          width: 40px;
          display: block;
     }
}

.stripe.stripe-divider {
     padding-top: 0;
     padding: 0 auto;
     margin: 0;
     padding-left: 1rem;
     padding-right: 1rem;
     hr {
          width: 100%;
          max-width: 950px;
          border-color: $white;
          border-width: 1px;
          margin: 0 auto 0 auto;
          opacity: 0.5;
     }
}

.stripe-default.stripe.stripe-divider {
     hr {
          border-color: $black;
     }
}

.hideable-text {
     max-height: 2000px;
     overflow: hidden;
     -webkit-transition: max-height 1s;
     -moz-transition: max-height 1s;
     -ms-transition: max-height 1s;
     -o-transition: max-height 1s;
     transition: max-height 1s;
     &:after {
          opacity: 0;
          height: 0;
          -webkit-transition: opacity 1s;
          -moz-transition: opacity 1s;
          -ms-transition: opacity 1s;
          -o-transition: opacity 1s;
          transition: opacity 1s;
     }
}

.hideable-text.hidden {
     max-height: 450px;
     position : relative;
     &:after {
          content  : "";
          position : absolute;
          z-index  : 1;
          bottom   : 0;
          left     : 0;
          background-image : linear-gradient(to bottom, rgba(245, 245, 245, 0), rgba(245, 245, 245, 1) 90%);
          width    : 100%;
          height   : 4em;
          opacity: 1;
     }
}

#expander {
     display: block;
     .svg-icon {
          vertical-align: middle;
          transition: all 0.25s;
     }
     svg line, svg polyline {
          stroke: $brand-primary;
     }
     &:hover, &:focus {
          .svg-icon {
               line, polyline {
                    stroke: darken($brand-primary, 20%);
               }
               transform: translate3d( 5px, 0, 0 );
          }
     }
}

.stripe.two-thirds {
     .stripe-content-aside {
          img {
               margin-bottom: 0.5rem;
          }
          strong {
               clear: both;
               display: block;
          }
          @include breakpoint(medium) {
               padding-right: 60px;
          }
     }
     blockquote {
          font-weight: normal;
          padding-left: 60px;
          @include breakpoint(medium) {
               padding-left: 0px;
          }
          position: relative;
          &:before {
               top: -5px;
               left: 0px;
               @include breakpoint(medium) {
                    left: -60px;
               }
               position: absolute;
               opacity: 0.6;
               font-size: 100px;
               
          }
     }
}

.stripe-logo-slider section {
     @include grid-row();
     padding-bottom: 40px;
     header {
          text-align: center;
     }
     .logo-slider {
              padding-left: 50px;
                  padding-right: 50px;
     }
     
     .logo-slider-image {
          padding: 0 20px;
          img {
               margin-left: auto;
               margin-right: auto;
          }
     }
     .slick-next {
          &:before {
               border-color: $black;
               color: $black;
          }
     }
     .slick-prev {
          &:before {
               border-color: $black;
               color: $black;
          }
     }
     .slick-dots {
          margin: 0;
          left: 0;
          right: 0;
          li button {
               background: $black;
          }
     }
}

.youtube-modal {
     background-position: center center;
     background-image: url("../images/ajax-loader.gif");
     background-repeat: no-repeat;
}


#valawards {
     background: #17548F;
     background-position: top;
     background-repeat: repeat-x;
     background-image: url('../images/stars.png');
     min-height: 255px;
     text-shadow: 0px 0px 11px rgba(0, 0, 0, 1);
}

#valawards-photos {
     background: #17548F;
     background-image: url('../images/stars-2.png');
     text-shadow: 0px 0px 11px rgba(0, 0, 0, 1);
     .multi-image-text {
          text-shadow: none;
     }
     .button {
          text-shadow: none;
     }
}

#reroutingfutures {
     background: #000;
     background-image: url('../images/rr-bg.png');
     background-position: top;
     background-repeat: repeat-x;
     h2 {
          min-height: 50px;
          margin-top: 20px;
          text-indent: -2000%;
          overflow: hidden;
          background-size: contain;
          background-position: center center;
          background-repeat: no-repeat;
          background-image: url('../images/rr-header.png');
     }
}