#page-sidebar-right {
    @include grid-row();
    margin-top: 2rem;

    .main-content {
      @include breakpoint(small) {
        @include grid-column(12);
      }

      @include breakpoint(medium) {
        @include grid-column(8);
      }
    }

    .sidebar {
      @include breakpoint(small) {
        @include grid-column(12);
      }

      @include breakpoint(medium) {
        @include grid-column(4);
        margin-top: 1rem;
      }
    }
}