#page {
  @include grid-row();
  margin-top: 2rem;
  margin-bottom: 2rem;
  
  header {
      margin-bottom: $global-margin;
  }

  .main-content {
    @include breakpoint(small) {
      @include grid-column(12);
    }

    @include breakpoint(medium) {
      @include grid-column-offset(1);
      @include grid-column(10);
    }
    
    @include breakpoint(large) {
      @include grid-column-offset(2);
      @include grid-column(8);
    }
  }
}