/*
Single Post
JellyPress Master
Updated: 19-12-2018
*/

// Shift H1 font size to H2

.type-post {
	h1 {
		font-size: rem-calc(map-deep-get($header-styles, small, h2, font-size)*1px);
		@include breakpoint(medium) {
			font-size: rem-calc(map-deep-get($header-styles, medium, h2, font-size)*1px);
		}
	}
}

#single-post {
	@include grid-row();
	margin-top: 1rem;
	margin-bottom: 3rem;
	@include breakpoint(medium) {
		margin-top: 3rem;
	}
	header {
		margin-bottom: $global-margin;
		.post-image {
			width: 100%;
			height: 0;
			padding-bottom: 46.785%;
			background-size: cover;
			background-position: center center;
			margin-bottom: $global-padding;
		}
	}

	.main-content {
		@include breakpoint(small) {
			@include grid-column(12);
		}

		@include breakpoint(medium) {
			@include grid-column-offset(1);
			@include grid-column(10);
		}
    
		@include breakpoint(large) {
			@include grid-column-offset(2);
			@include grid-column(8);
		}
	}
}

.entry-meta {
	border-top: 1px solid darken($light-gray, 10%);
	border-bottom: 1px solid darken($light-gray, 10%);
	padding-top: $global-padding/2;
	padding-bottom: $global-padding/2;
	margin-bottom: 1rem;
	margin-top: 1rem;
    
	.post_details_meta {
		display: inline-block;
	}
	.post_details_social {
		padding-top : 5px;
        
		@include breakpoint(smallmedium) {
			float: right;
			padding-top: 0;
		}
		a {
			display: inline-block;
		}
	}
	span.icon {
		background-size: 20px 20px;
		background-color: $brand-primary;
	}
}
span.share-text {
	display: block;
	width: 0;
	height: 0;
	text-index: -10000px;
	overflow: hidden;
}
span.icon {
	&:hover, &:focus {
		background-color: darken($brand-primary, 30%);
	}
}