/*
Tribe Events
JellyPress Master
Updated: 02-12-2019
*/

.tribe-events-page-template {
	.filter-header {
		background: $light-gray;
	}
    
	.tribe-events-month-event-title {
		font-size: 1.3rem;
	} 

	.tribe-events-venue-map {
		margin-bottom: 1rem;
	}
	.tribe-events-address {font-style: normal;}
	.tribe-events-tooltip {
		font-size: $small-font-size;
		background-color: $tooltip-color;
		border: solid 1px $medium-gray;
		padding: $tooltip-padding;
		box-shadow: 0 5px 10px rgba(0,0,0,.2);
		border-radius: $tooltip-radius;
		.tribe-events-event-body {
			padding: 0;
		}
		.tribe-events-arrow {
			display: none;
		}
		&::before {
			bottom: -7px;
			border-bottom: 0;
			left: 6px;
			content: '';
			display: inline-block;
			border-left: 7px solid transparent;
			border-right: 7px solid transparent;
			border-top: 7px solid $medium-gray;
			border-bottom: 0;
			border-top-color: $medium-gray;
			position: absolute;
		}
		&::after {
			bottom: -6px;
			border-bottom: 0;
			border-top: 6px solid $tooltip-color;
			left: 7px;
			content: '';
			display: inline-block;
			border-left: 6px solid transparent;
			border-right: 6px solid transparent;
		 	border-top: 6px solid $tooltip-color;
			border-bottom: 0;
			position: absolute;

		}
	}
	.datepicker {
		
	}
}
.tribe-events-schedule, .tribe-events-event-meta {
	> span {
        line-height: 1;
		display: inline-block;
		margin-right: 1rem;
	}
}

body.single-tribe_events .tribe-events-cal-links a.tribe-events-ical, body.single-tribe_events .tribe-events-cal-links a.tribe-events-gcal {
display: none !important;
}

.tribe-events-event-meta:first-child {
    border-top: none;
}