/*
Boxes
Updated: 21-09-2019
*/

ul.accordion {
    a.accordion-title {
        font-size: 1.1rem;
        font-weight: bold;
        background-image: url(../images/icons/plus-circle.svg);
        background-repeat: no-repeat;
        background-position: 98% center;
        
    }
    .accordion-item.is-active a.accordion-title {
       background-image: url(../images/icons/minus-circle.svg); 
    }
    ul {
        margin-bottom: 20px;
        ul {
            margin-bottom: 0px;
        }
    }
}

.stripe-accordion-section {
    &.stripe-narrow .stripe-content {
        @include breakpoint(large) {
            @include grid-col-pos(1);
            @include grid-column(10);
        }
    }
}