/**
* Custom AOS Animations
**/

// Generate Duration && Delay
[data-aos] {
     transition-duration: 200ms;
    @for $i from 1 through 10 {
        body[data-aos-delay='#{$i * 100}'] &,
        &[data-aos][data-aos-delay='#{$i * 100}'] {
            transition-delay: 0;

            &.aos-animate {
                transition-delay: #{$i * 100}ms;
            }
        }
    }
}

$aos-easing: (
linear: cubic-bezier(.250, .250, .750, .750),

ease: cubic-bezier(.250, .100, .250, 1),
ease-in: cubic-bezier(.420, 0, 1, 1),
ease-out: cubic-bezier(.000, 0, .580, 1),
ease-in-out: cubic-bezier(.420, 0, .580, 1),

ease-in-back: cubic-bezier(.6, -.28, .735, .045),
ease-out-back: cubic-bezier(.175, .885, .32, 1.275),
ease-in-out-back: cubic-bezier(.68, -.55, .265, 1.55),

ease-in-sine: cubic-bezier(.47, 0, .745, .715),
ease-out-sine: cubic-bezier(.39, .575, .565, 1),
ease-in-out-sine: cubic-bezier(.445, .05, .55, .95),

ease-in-quad: cubic-bezier(.55, .085, .68, .53),
ease-out-quad: cubic-bezier(.25, .46, .45, .94),
ease-in-out-quad: cubic-bezier(.455, .03, .515, .955),

ease-in-cubic: cubic-bezier(.55, .085, .68, .53),
ease-out-cubic: cubic-bezier(.25, .46, .45, .94),
ease-in-out-cubic: cubic-bezier(.455, .03, .515, .955),

ease-in-quart: cubic-bezier(.55, .085, .68, .53),
ease-out-quart: cubic-bezier(.25, .46, .45, .94),
ease-in-out-quart: cubic-bezier(.455, .03, .515, .955)
);

// Easings implementations
// Default timing function: 'ease'

[data-aos] {
    @each $key, $val in $aos-easing {
        body[data-aos-easing="#{$key}"] &,
        &[data-aos][data-aos-easing="#{$key}"] {
            transition-timing-function: $val;
        }
    }
}

// Animations variables
$aos-distance: 100px !default;

.header-wrapper.right .featured-hero-content[data-aos="caption-fade"] {
  opacity: 0;
  transition-property: transform, opacity;

  &.aos-animate {
    opacity: 1;
  }

  @include breakpoint(medium) {
    transform: translateX(100px);

    &.aos-animate {
      transform: translateX(0);
    }
  }
}

.header-wrapper.left .featured-hero-content[data-aos="caption-fade"] {
  opacity: 0;
  transition-property: transform, opacity;

  &.aos-animate {
    opacity: 1;
  }

  @include breakpoint(medium) {
    transform: translateX(-100px);

    &.aos-animate {
      transform: translateX(0);
    }
  }
}

.header-wrapper.center .featured-hero-content[data-aos="caption-fade"] {
  opacity: 0;
  transition-property: transform, opacity;

  &.aos-animate {
    opacity: 1;
  }

  @include breakpoint(medium) {
    transform: translateY(100px);

    &.aos-animate {
      transform: translateY(0);
    }
  }
}

[data-aos^='fade'][data-aos^='fade'] {
  opacity: 0;
  transition-property: opacity, transform;

  &.aos-animate {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

[data-aos='fade-up'] {
  transform: translate3d(0, $aos-distance, 0);
}

// How to set up a custom animation add your key frames

@keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    transform: translate3d(10px, 0, 0);
  }

  90% {
    transform: translate3d(-5px, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

// Create your data property

[data-aos='bounceinright'] {
     opacity: 0;
     transform: translate3d(3000px, 0, 0);
  &.aos-animate {
      animation-duration: 1s;
      animation-name: bounceInRight;
      opacity: 1;
      transform: translate3d(0, 0, 0);
  }
}

