/*
Boxes
Updated: 06-03-2019
*/

.box {
	padding: 1rem;
	background: $light-gray;
	margin-bottom: 1rem;
	h1, h2, h3, h4, h5, h6, p a {
		color: $medium-gray;
	}
	a, p a {
		&:hover, &:focus {
			text-decoration: underline;
			color: $black;
		}
	}
	.button {
		color: $white;
	    font-family: $body-font-family;
	    font-weight: bold;
		box-shadow: $button-shadow;
		transition: $button-transition;
		&:hover, &:focus {
			color: $white;
			transform: $button-transform;
			box-shadow: $button-shadow-hover;
			text-decoration: none;
		}
	}
	
	@each $name, $color in $stripe-colours-list {
		&.box-#{$name} {
			background: $color;
			@include text-contrast($color);
			h1, h2, h3, h4, h5, h6, p a {
				@include text-contrast($color);
			}
			p a:hover, p a:focus {
				@include text-contrast-hover($color);
			}
		}
	}
	&.box-brand-primary {
		color: $white;
		h1, h2, h3, h4, h5, h6 {
			color: $white;
		}
		p a {
			color: lighten($brand-primary, 50%);
		}
		p a:hover, p a:focus {
			color: lighten($brand-primary, 40%);
		}
		.button {
			background: $white;
			@include text-contrast($white);
		    font-family: $body-font-family;
		    font-weight: bold;
			box-shadow: $button-shadow;
			transition: $button-transition;
			&:hover, &:focus {
				transform: $button-transform;
				box-shadow: $button-shadow-hover;
				@include text-contrast-hover($white);
			}
		}
	}
}