/*
  Button
  JellyPress Master
  Updated: 03-07-2019
*/

.button {
    display: inline-block;
    background: $button-background;
    margin: $button-margin;
    color: $button-color;
    border: 0;
    font-family: $body-font-family;
    font-weight: bold;
    line-height: 1;
    text-transform: Uppercase;
    radius: $button-radius;
	box-shadow: $button-shadow;
	transition: $button-transition;
    padding: $button-padding;
	&:hover, &:focus {
        background: $button-background-hover;
		transform: $button-transform;
		box-shadow: $button-shadow-hover;
        color: $button-color-hover;
	}
    svg {
        height: 1.2rem;
        margin-left: 0.3rem;
        margin-right: 0;
        transition: transform .1s ease-in-out;
    }
}