/*
Stripe Call to Action
JellyPress Master
Updated: 03-07-2019
*/

.stripe-call-to-action {
    section {
        @include grid-row;
        .stripe-content {
            @include grid-column(12);
            text-align: center;
            &.text-align-left {
                text-align: left;
            }
            .button {
                svg {
                    margin-left: 0.3rem;
                    margin-right: 0;
                    transition: transform .1s ease-in-out;
                }
                svg path {
                    fill: $white;
                }
                svg line, svg polyline {
                    stroke: $white;
                }
            }
            @include breakpoint(medium) {
                @include grid-column-offset(2);
                @include grid-column(8);
            }
        }
    }
    &.stripe-brand-primary {
        .stripe-content {
            .button {
                background: $white;
                color: $body-font-color;
                svg path {
                    fill: $black;
                }
                svg line, svg polyline {
                    stroke: $black;
                }
            }
        }
    }
    &.stripe-call-to-action-background-image {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        .stripe-content {
            margin-top: 7%;
            margin-bottom: 7%;
            background: #fff;
            padding: 1rem;
            box-shadow: $card-shadow;
            @include breakpoint(medium) {
                @include grid-column-offset(3);
                @include grid-column(6);
            }
            &.caption-position-left {
                @include breakpoint(medium) {
                    @include grid-column-offset(1);
                    @include grid-column(6);
                } 
                @include breakpoint(large) {
                    @include grid-column-offset(1);
                    @include grid-column(4);
                } 
            }
            &.caption-position-right {
                @include breakpoint(medium) {
                    @include grid-column-offset(5);
                    @include grid-column(6);
                }
                @include breakpoint(large) {
                    @include grid-column-offset(7);
                    @include grid-column(4);
                } 
            }
            .stripe-content-inner {
                padding-left: 0.5rem;
                padding-right: 0.5rem;
            }
        }
    }
}
