/*
Cards
Updated: 4-01-2019
*/

.cards {
	@include grid-row();
	padding: 0 1rem 1rem 1rem;
	@include breakpoint(medium) {
		padding-right: 0;
	}
	
	header {
		@include grid-column(12);
		text-align: center;
	}
	
}
.cards {
	@include breakpoint(small) {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
	}

	@include breakpoint(medium) {
		flex-direction: row;
	}

	.card {
		box-shadow: $card-shadow;
		padding-bottom: 1rem;
		border: $card-border;
		position: relative;
		color: $card-font-color;
		transition: box-shadow .1s ease-out,transform .1s ease-out;
		img {
			transition: all 0.2s ease-in-out;
		}
        .card-section {
            margin-bottom: 1rem;
        }
		span.arrow-right {
			padding-left: 1rem;
			padding-right: 1rem;
			color: $brand-primary;
			font-weight: bold;
            position: absolute;
            bottom: 0;
            padding-bottom: 1rem;
            padding-top: 1rem;
			svg polyline, svg line {
				stroke:  $brand-primary;
				stroke-width: 3;
			}
		}
		
		.placeholder {
			width: 100%;
			padding-bottom: 46.785%;
			transition: all 0.2s ease-in-out;
			background-position: center center;
			background-repeat: no-repeat;
			background-image: url("../images/thumbnail-placeholder.svg");
			width: 100%;
			background-size: cover;
		}
		&:focus,
		&:hover {
			color: $card-font-color;
			cursor: pointer;
			transform: translateY(-4px);
			box-shadow: $card-shadow-hover;
			img, div.placeholder {
				opacity: 0.7;
			}
			span.arrow-right {
				color: darken($brand-primary, 10%);
				svg polyline, svg line {
					stroke:  darken($brand-primary, 10%);
				}
			}
		}
		.card-section-button {
			position: absolute;
			bottom: 0;
		}
		.card-divider {
			padding: 1rem 1rem 0 1rem;
			h4 {
				font-weight: bold;
				font-family: $header-font-family;
				color: $card-font-color;
				font-size: 1.125rem;
			}
		}
		@include breakpoint(small) {
			width: 100%;
			img { width: 100%; }
		}

		@include breakpoint(medium) {
			width: 30.5%;
			margin-right: 2.33333%;
		}

		.card-content {
			padding: 1rem;
		}
	}
}