/*
Cookie Consent
Updated: 02-12-2019
*/


.cc-window {
	color: $cookie-text-color;
	background: $cookie-background;
	box-shadow: $card-shadow;
	opacity: 1;
	-webkit-transition: opacity 1s ease;
	-moz-transition: opacity 1s ease;
	-ms-transition: opacity 1s ease;
	-o-transition: opacity 1s ease;
	transition: opacity 1s ease;
	position: fixed;
	overflow: hidden;
	box-sizing: border-box;
	font-family: $body-font-family;
	font-size: 16px;
	line-height: 1.5em;
	display: flex;
	flex-wrap: nowrap;
	z-index: 9999;
	a {
		color: darken($white, 10%);
		&:hover, &:focus {
		color: $white;
		}
	}
}
.cc-window.cc-invisible {
	opacity: 0;
}
.cc-animate.cc-revoke {
	-webkit-transition: transform 1s ease;
	-moz-transition: transform 1s ease;
	-ms-transition: transform 1s ease;
	-o-transition: transform 1s ease;
	transition: transform 1s ease;
}
.cc-animate.cc-revoke.cc-top {
	transform: translateY(-3em);
}
.cc-animate.cc-revoke.cc-bottom {
	transform: translateY(3em);
}
.cc-animate.cc-revoke.cc-active.cc-top {
	transform: translateY(0);
}
.cc-animate.cc-revoke.cc-active.cc-bottom {
	transform: translateY(0);
}
.cc-revoke {
	background: $cookie-background;
	color: $cookie-text-color;
	text-decoration: none;
	&:hover {
		transform: translateY(0);
		text-decoration: underline;
	}
	position: fixed;
	overflow: hidden;
	box-sizing: border-box;
	font-family: $body-font-family;
	line-height: 1.5em;
	display: flex;
	flex-wrap: nowrap;
	z-index: 9999;
	padding: 0.5em;
	cursor: pointer;
}
.cc-grower {
	max-height: 0;
	overflow: hidden;
	-webkit-transition: max-height 1s;
	-moz-transition: max-height 1s;
	-ms-transition: max-height 1s;
	-o-transition: max-height 1s;
	transition: max-height 1s;
}
.cc-window.cc-static {
	position: static;
}
.cc-window.cc-floating {
	padding: $global-padding * 1.5;
	max-width: 24em;
	flex-direction: column;
	.cc-compliance {
		flex: 1 0 auto;
	}
}
.cc-window.cc-banner {
	padding: 1em 1.8em;
	width: 100%;
	flex-direction: row;
	align-items: center;
}
.cc-header {
	font-size: 18px;
	font-weight: bold;
}
.cc-btn {
	margin: 0 0 $global-margin 0;
	padding: $button-padding;
	text-align: center;
}

.cc-deny {
	font-weight: bold;
	&:hover, &:focus {
		text-decoration: underline;
	}
}

a.cc-allow, a.cc-dismiss {
	color: $white;
	&:link {
	color: darken($white, 10%);
	}
	background: $cookie-button-color;
	font-family: $body-font-family;
	font-weight: bold;
	box-shadow: $button-shadow;
	transition: $button-transition;
	&:hover, &:focus {
		background: darken($cookie-button-color, 10%);
		transform: $button-transform;
		box-shadow: $button-shadow-hover;
	}
}

.cc-link {
	color: $cookie-text-color;
	cursor: pointer;
	opacity: 0.8;
	display: inline-block;
	text-decoration: underline;
	&:hover {
		color: $cookie-text-color;
		opacity: 1;
	}
	&:active {
		color: $cookie-text-color;
	}
	&:visited {
		color: $cookie-text-color;
	}
}
.cc-close {
	cursor: pointer;
	display: block;
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	font-size: 1.6em;
	opacity: 0.9;
	line-height: 0.75;
	&:hover {
		opacity: 1;
	}
	&:focus {
		opacity: 1;
	}
}

.cc-revoke.cc-top {
	top: 0;
	left: 0.5rem;
	border-bottom-left-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
}
.cc-revoke.cc-bottom {
	bottom: 0;
	left: 1em;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
}
.cc-revoke.cc-left {
	left: 1em;
	right: unset;
}
.cc-revoke.cc-right {
	right: 3em;
	left: unset;
}
.cc-top {
	top: 1em;
}
.cc-left {
	left: 1em;
}
.cc-right {
	right: 1em;
}
.cc-bottom {
	bottom: 1em;
}
.cc-floating {
	>.cc-link {
		margin-bottom: 1em;
	}
	.cc-message {
		display: block;
		margin-bottom: 1em;
	}
	.cc-compliance {
		>.cc-btn {
			flex: 1;
		}
	}
}
.cc-banner.cc-top {
	left: 0;
	right: 0;
	top: 0;
}
.cc-banner.cc-bottom {
	left: 0;
	right: 0;
	bottom: 0;
}
.cc-banner {
	.cc-message {
		display: block;
		flex: 1 1 auto;
		max-width: 100%;
		margin-right: 1em;
	}
}
.cc-compliance {
	display: flex;
	align-items: center;
	align-content: space-between;
}
@media print {
	.cc-window {
		display: none;
	}
	.cc-revoke {
		display: none;
	}
}
@media screen and (max-width: 900px) {
	.cc-btn {
		white-space: normal;
	}
}
@media screen and (max-width: 414px) and (orientation: portrait) {
	.cc-window.cc-top {
		top: 0;
	}
	.cc-window.cc-bottom {
		bottom: 0;
	}
	.cc-window.cc-banner {
		left: 0;
		right: 0;
		flex-direction: column;
		align-items: unset;
		.cc-compliance {
			flex: 1 1 auto;
		}
		.cc-message {
			margin-right: 0;
		}
	}
	.cc-window.cc-floating {
		left: 0;
		right: 0;
		max-width: none;
	}
	.cc-window.cc-right {
		left: 0;
		right: 0;
	}
	.cc-window.cc-left {
		left: 0;
		right: 0;
	}
	.cc-window {
		.cc-message {
			margin-bottom: 1em;
		}
	}
}
@media screen and (max-width: 736px) and (orientation: landscape) {
	.cc-window.cc-top {
		top: 0;
	}
	.cc-window.cc-bottom {
		bottom: 0;
	}
	.cc-window.cc-banner {
		left: 0;
		right: 0;
		flex-direction: column;
		align-items: unset;
		.cc-compliance {
			flex: 1 1 auto;
		}
		.cc-message {
			margin-right: 0;
		}
	}
	.cc-window.cc-floating {
		left: 0;
		right: 0;
		max-width: none;
	}
	.cc-window.cc-right {
		left: 0;
		right: 0;
	}
	.cc-window.cc-left {
		left: 0;
		right: 0;
	}
	.cc-window {
		.cc-message {
			margin-bottom: 1em;
		}
	}
}

.cc-container {
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    .cc-text {
        h2 {
            margin-top: 0;
            font-weight: bold;
            font-family: $header-font-family;
            font-size: 1.6rem;
        }
        margin-bottom: 2rem;
        @media screen and (min-width: 700px) {
            max-width: 60%;
            float: left;
            display: block;
        }
        @media screen and (min-width: 1000px) {
            max-width: 70%;
        }
    }
    .cc-compliance {
        @media screen and (min-width: 700px) {
        padding-top: 0.5rem;
        max-width: 40%;
        float: right;
        display: block;
    }
    @media screen and (min-width: 1000px) {
        max-width: 30%;
    }
    }
}

#optout {
    position: relative;
    color: $white;
    &:hover, &:focus {
        text-decoration: none;
    }
}

#optout.loading {
    opacity: 0.7;
    @include loader();
    padding-right: 50px;
    &:before {
        left: auto;
        right: 5px;
    }
}