/*
Featured Hero
JellyPress Master
Updated: 05-07-2019
*/

.stripe-featured-image {
	position: relative;
	overflow: hidden;
	text-align: center;
     padding: 0;
     :before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
          background: rgb(0,0,0);
          background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
		opacity: 1;
          z-index: -1;
     }
     .stripe-featured-image-content {
          background-size: cover;
          background-repeat: no-repeat;
          min-height: 500px;
          background-position: center center;
          .stripe-featured-image-caption {
               z-index: 1;
               bottom: 0;
               position: absolute;
               margin-left: auto;
               margin-right: auto;
               width: 100%;
               padding-bottom: 2%;
               h1, h4 {
                    color: $white;
                    text-shadow: 0px 0px 11px rgba(0, 0, 0, 1);
               }
          }

     }
}