/*
Feature List
YES Custom
Updated: 19-090-2019
*/
.stripe-feature-list {
	section {
		@include grid-row();

		header {
			text-align: center;
               margin-left: 1rem;
               margin-right: 1rem;
			@include breakpoint(medium) {
				@include grid-col-pos(1);
				@include grid-column(10);
			}
		}

		.feature-list {
			@include breakpoint(medium) {
				@include grid-col-pos(0);
				@include grid-column(12);
			}
			text-align: center;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-evenly;
			flex-direction: row;

			.feature-item {
                padding: 1rem;
				@include breakpoint(small) {
					width: 50%;
				}

				@include breakpoint(medium) {
					width: 33.333%;
				}

				img {
					width: 100px;
					margin: 0 auto 0 auto;
				}

				h4 {
					font-size: 1.5rem;
				}

				p {
					font-size: 0.9375rem;
				}
			}
		}
	}
}
