/*
Gallery
Updated: 09-09-2019

*/

.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	flex-direction: row;
    margin-bottom: 1rem;
    a {
        background: $white;
        display: block;
        padding: 0.5rem;
        box-shadow: $card-shadow;
        margin-bottom: 1rem;
        transition: all 0.2s ease-in-out;
        img {
            padding-bottom: 0;
            margin: 0;
            min-width: 100%;
        }
        &:hover, &:focus {
            opacity: 0.7;
                    box-shadow: $card-shadow-hover;
                    transform: translateY(-4px);
        }
}
}

@for $i from 2 through 9 {
    .gallery-columns-#{$i} a {
        width: ((100 / $i) - 1.3) * 1%;
    }
}