.main-content .alignfull,
.main-content .alignwide {
    margin-left  : calc( -100vw / 2 + 100% / 2 );
    margin-right : calc( -100vw / 2 + 100% / 2 );
    max-width    : 100vw;
}

.main-content .wp-block-quote {
    margin-bottom: 1rem;
}

.main-content .wp-block-image {
    width: auto;
    figcaption {
        margin-bottom: 1rem;
    }
}

@media only screen and ( min-width: 950px ) {
    .main-content .alignwide {
        margin-left  : -125px;
        margin-right : -125px;
        //max-width    : 950px;
    }
}