$juicer-font-size: 0.9rem;
$juicer-font-size-small: 0.8rem;

.stripe-juicer {
    h2 {
        text-align: center;
        color: $brand-primary;
    }
    .social-feed {
        @include grid-row();
        .juicer-feed {
            .j-paginate.juicer-button {
                @include button();
                margin-left: auto;
                margin-right: auto;
                display: block;
                font-size: 1.2rem;
                width: 12rem;
            }
            @include grid-column(12);
            font-family: $body-font-family;
            font-weight: normal;
            .j-display-filters {
                font-weight: bold;
                li.grouped {
                    margin: 0;
                    &.highlight, &:hover {
                        background: $brand-primary !important;
                        border-bottom: 1px solid darken($brand-primary, 30%) !important;
                    }
                }
            }
            .j-message p {
                
                font-size: $juicer-font-size;
                width: 100%;
                display: block;
                float: none;
            }
            &.modern {
                li.feed-item {
                    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.22);
                    background: $white;
                    border: none;
                    &.j-twitter {
                        .j-message {
                            font-weight: normal;
                        }
                    }
                }
                .j-message {
                    color: $body-font-color;
                }
            }
        }

        .j-poster h3 {
            font-size: $juicer-font-size-small;
            color: $body-font-color;
        }

        .juicer-feed.modern {
            
            li.feed-item.j-twitter .j-message {
                color: $body-font-color;
            }
            
            .j-poster {
                height: auto;
                padding: $global-padding;
            }
            .j-text {
                padding: $global-padding;
                font-size: $juicer-font-size;
            }
            .j-twitter-poster {
                font-size: $juicer-font-size-small;
            }
            
        }
        

        ul.juicer-feed .j-meta {
            li:last-of-type {
                display: none;
            }
            .comments {
                font-size: $juicer-font-size-small;
                font-weight: bold;
                &:before {
                    content: '';
                }
                &:after {
                    content: ' comments';
                }
            }
            border-top: 1px solid $light-gray;
            padding-top: 10px;
            //.j-facebook, .j-instagram {
                //  height: $global-padding;
                //width: $global-padding;
                //background-repeat: no-repeat;
                //display: block;
                //}
                a:before {
                    content: '';
                }
                //.j-facebook, .j-instagram {
                    //  height: $global-padding;
                    //width: $global-padding;
                    //background-repeat: no-repeat;
                    //display: block;
                    //}
                    a:before {
                        content: '';
                    }
                    .j-facebook {
                        //  background-image: url('/assets/map/facebook.png');
                    }
                    .j-instagram {
                        //background-image: url('/assets/map/instagram.png');
                    }
                    .j-facebook {
                        //    background-image: url('/assets/map/facebook.png');
                    }
                    .j-instagram {
                        //  background-image: url('/assets/map/instagram.png');
                    }
                }

                .j-loading {
                    border-color: $brand-primary;
                    &:before {
                        background-color: $brand-primary;
                    }
                }
            }
        }