body.learnpress-page {
    #course-item-content-header .form-button.lp-button-back button {
        margin: 0 0 5px 0;
    }
    
    .lp-button {
        color: $white;
        background: $brand-primary;
        font-weight: bold;
        .scroll-wrapper > .scroll-content .content-item-wrap {
            padding-top: 20px;
        }
    }

    .course-item-nav .prev a, .course-item-nav .next a {
        color: $brand-primary;
    }
    
    @media screen and (max-width: map-get($breakpoints, medium)) {
        #course-item-content-header .toggle-content-item {
            display: none;
        }

        #learn-press-course-curriculum {
            display: none;
        }
    }

}
@media screen and (max-width: 768px) {
    body.course-item-lp_lesson.learnpress-page.course-item-popup #learn-press-content-item {
        left: 200 !important;
    }
}


body.course-item-popup #learn-press-content-item .content-item-wrap {
    margin:  20px auto;
}

@media screen and (max-width: 370px) {
body.course-item-lp_lesson.learnpress-page #course-item-content-header .course-title {
  text-overflow: ellipsis;
  overflow: hidden; 
  width: 60%; 
  height: auto;
  white-space: nowrap;
}
}

.course-item-nav .next:before, .course-item-nav .prev:before {
    font-family: "fontawesome";
    font-size: 40px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.course-item-nav .next:before {
content: ""
}



@media screen and (max-width: map-get($breakpoints, medium)) {
    body.course-item-lp_lesson.learnpress-page #course-item-content-header .course-title {
        font-size: 1.1rem;
    }
    
    body.course-item-lp_lesson.learnpress-page.course-item-popup #learn-press-content-item {
        left: 0 !important;
    }
    body.course-item-lp_lesson.course-item-popup #course-item-content-header .course-item-search {
        display: none;
    }

    body.course-item-lp_lesson #course-item-content-header .course-title {
        margin-left: 0 !important;
    }


}