/*
List Items
Updated: 5-12-2018
*/

.list-items {
	list-style: none;
	margin-left: 0;
	li.list-item {
		a {
			display: block;
			font-weight: bold;
			font-size: 1.1rem;
		}
		padding-bottom: 0.5rem;
		margin-bottom: 0.5rem;
		border-bottom: 1px solid darken($light-gray, 20%);
		&:last-child {
			border-bottom: none;
		}
	}
}