/*
Loader
Updated: 16-01-2020
*/

#loader {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: $brand-primary;
    z-index: 1000;
    .loader-icon {
        position: absolute;
        left: 47%;
        left: calc(50% - 25px);
        top: 47%;
        top: calc(50% - 50px);
        z-index: 1;
        height: 100px;
        width: 50px;
        -webkit-animation: pulsate 1s linear infinite;
        animation: pulsate 1s linear infinite;
        svg {
             height: 100px;
        }
    }
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}

@keyframes bounce {
	0% {top: calc(50% - 25px);
          transform: translateY(0);
		-webkit-animation-timing-function: ease-in;
	}
	50% {
          transform: translateY(calc(50% - 115px));
		height: 140px;
		-webkit-animation-timing-function: ease-out;
	}
	55% {transform: translateY(calc(50% - 135px)); 
          height: 120px; 
		-webkit-animation-timing-function: ease-in;}
	65% {transform: translateY(calc(50% -95px));
          height: 140px; 
		-webkit-animation-timing-function: ease-out;}
	95% {
		-webkit-animation-timing-function: ease-in;
	}
	100% {
		-webkit-animation-timing-function: ease-in;
	}
}
