.embed-container { 
	padding-bottom: 56.25%;
	overflow: hidden;
	max-width: 100%;
	height: auto;
     position: relative;
} 

.embed-container iframe,
.embed-container object,
.embed-container embed { 
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
