.reveal {
    color: $black;
    font-weight: bold;
    text-align: center;
    outline: none;
    p {
        text-align: left;
    }
    button.next-button {
        position: absolute;
            bottom: 1rem;
            right:  1rem;
            color: $closebutton-color;
            &:hover, &:focus {
                color: $closebutton-color-hover;
                line, polyline {
                    stroke: $closebutton-color-hover;
                }
            }
            line, polyline {
                stroke: $closebutton-color;
            }
    }
    
    button.previous-button {
        position: absolute;
            bottom: 1rem;
            left: 1rem;
            color: $closebutton-color;
            &:hover, &:focus {
                color: $closebutton-color-hover;
                line, polyline {
                    stroke: $closebutton-color-hover;
                }
            }
            .svg-icon {
                margin-right: 0;
                margin-left: 0.3rem;
            }
            line, polyline {
                stroke: $closebutton-color;
            }
    }
}