/*
Slick Theme SCSS
JellyPress Master
Updated: 16-04-2019
*/

@charset "UTF-8";

// Default Variables

// Slick icon entity codes outputs the following
// "\2190" outputs ascii character "←"
// "\2192" outputs ascii character "→"
// "\2022" outputs ascii character "•"

$slick-font-path: "../fonts/" !default;
$slick-font-family: "fontawesome" !default;
$slick-loader-path: "./" !default;
$slick-arrow-color: white !default;
$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: "\f104" !default;
$slick-next-character: "\f105" !default;
$slick-dot-character: "\f111" !default;
$slick-dot-size: 15px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

@function slick-image-url($url) {
	@if function-exists(image-url) {
		@return image-url($url);
	}
	@else {
		@return url($slick-loader-path + $url);
	}
}

@function slick-font-url($url) {
	@if function-exists(font-url) {
		@return font-url($url);
	}
	@else {
		@return url($slick-font-path + $url);
	}
}

/* Slider */

.stripe-slider > section {
	background: #ddd;
}

.slick-list {
	.slick-loading & {
		background: #fff slick-image-url("../images/ajax-loader.gif") center center no-repeat;
	}
}

/* Arrows */

.slick-prev,
.slick-next {
	z-index: 5;
	position: absolute;
	display: block;
	height: 40px;
	width: 40px;
	line-height: 0px;
	font-size: 0px;
	cursor: pointer;
	color: transparent;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	padding: 0;
	border: none;
	outline: none;
	&:hover, &:focus {
		outline: none;
		background: transparent;
		color: transparent;
		&:before {
			opacity: $slick-opacity-on-hover;
		}
	}
	&.slick-disabled:before {
		opacity: $slick-opacity-not-active;
	}
	&:before {
		font-family: $slick-font-family;
		font-size: 40px;
		line-height: 1;
		color: $slick-arrow-color;
		opacity: $slick-opacity-default;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

.slick-prev {
	left: 10px;
	opacity: $slick-opacity-default;
	&:before {
		content: "";
		border: solid $white;
		border-width: 0 5px 5px 0;
		display: inline-block;
		padding: 10px;
		color: #fff;
		transform: rotate(135deg);
		-webkit-transform: rotate(135deg);
	}
	&:hover, &:focus {
		outline: none;
		opacity: $slick-opacity-on-hover;
	}
	
	&.slick-active button {
		opacity: $slick-opacity-default;
	
	}
}

.slick-next {
	right: 10px;
	opacity: $slick-opacity-default;
	&:before {
		content: "";
		border: solid $white;
		border-width: 0 5px 5px 0;
		display: inline-block;
		padding: 10px;
		color: #fff;
		transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
	}
	&:hover, &:focus {
		outline: none;
		opacity: $slick-opacity-on-hover;
	}
	
	&.slick-active button {
		opacity: $slick-opacity-default;
	
	}
}

/* Dots */

.slick-dots {
	position: absolute;
	list-style: none;
	display: block;
	text-align: center;
	padding: 10px;
	margin: -60px 0 0 0;
	width: 100%;
	li {
		position: relative;
		display: inline-block;
		height: 20px;
		width: 20px;
		margin: 0 5px;
		padding: 0;
		cursor: pointer;
		button {
			border: 0;
			background: $white;
			border-radius: 100px;
			display: block;
			height: 15px;
			width: 15px;
			outline: none;
			line-height: 0px;
			font-size: 0px;
			color: transparent;
			padding: 5px;
			cursor: pointer;
			opacity: $slick-opacity-not-active;
			&:hover, &:focus {
				outline: none;
				opacity: $slick-opacity-on-hover;
			}
		}
		&.slick-active button {
			opacity: $slick-opacity-default;
		}
	}
}

.stripe-slider {
	overflow: hidden;
     padding-bottom: 0;
}

.hero-slider {
     background-size: cover;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.hero-slide-container {
	position: relative;
	background-position: center center;
	background-repeat: no-repeat;
     background-size: cover;
	min-height: 90vh;
    text-align: center;
	@include breakpoint(medium) {
		min-height: rem-calc(500); 
	} 
	@include breakpoint(xlarge) {
		height: rem-calc(800);
	}
	&.center .hero-slider-text {
		@include breakpoint(medium) {
			position: absolute;
			background: none;
			right: 0;
			left: 0;
			top: 30%;
			box-shadow: none;
			h1, h4, p {
				color: #fff;
				text-shadow: 0px 0px 11px rgba(0, 0, 0, 1);
			}
		}
	}
	&.left .hero-slider-text {
		@include breakpoint(medium) {
            text-align: left;
			position: absolute;
			bottom: auto;
			height: auto;
			left: 5%;
			top: 10%; 
			right: 55%;
			box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.4);
		}
	}
	&.right .hero-slider-text {
		@include breakpoint(medium) {
            text-align: left;
			position: absolute;
			bottom: auto;
			height: auto;
			top: 10%; 
			right: 5%;
			left: 55%; 
			box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.4);
		}
	}
	.hero-slider-text {
		background: $brand-primary;
		position: absolute;
		top: rem-calc(300);
		bottom: 0;
		padding: 0.5rem 1.5rem 1.5rem 1.5rem;
		left: 0;
		right: 0;
		h1 {
			font-size: 1.8rem;
			margin-left: auto;
			margin-right: auto;
			margin-top: 5%;
			color: $white;
			max-width: 770px;
			@include breakpoint(large) {
				font-size: 2.2rem;
			}
			//text-shadow: 0px 0px 11px rgba(0, 0, 0, 1);
		}
		h4 {
			margin-left: auto;
			margin-right: auto;
			color: $white;
			max-width: 770px;
			//text-shadow: 0px 0px 11px rgba(0, 0, 0, 1);
		}
		.button {
			background: $white;
			margin-top: 0.5rem;
			color: $black;
            font-size: 1rem;
			&:hover, &:focus {
				background: darken($white, 10%);
			}
            svg {
                height: 0.9rem;
                width: auto;
                vertical-align: bottom;
                path, line, polyline {
                stroke: $black;
                stroke-width: 3;
                }
            }
		}
		@include breakpoint(medium) {
			bottom: auto;
			height: auto;
			left: 5%;
			top: 10%;
			right: 55%;
			box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.4);
		}
	}
    &.center {
        @include breakpoint(medium) {
			a.button {
				background: $brand-primary;
				margin-top: 0.5rem;
				color: $white;
                font-size: 1rem;
				&:hover, &:focus {
					background: darken($brand-primary, 10%);
				}
                svg {
                    height: 0.9rem;
                    width: auto;
                    vertical-align: bottom;
                    path, line, polyline {
                    stroke: $white;
                    stroke-width: 3;
                    }
                }
            }
        }
    }
	&.center:before {
		@include breakpoint(medium) {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 46%, rgba(0,0,0,0.43) 71%, rgba(0,0,0,0.43) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
			opacity: 1;
		}
	}
}