ul.social-links {
    li {
         display: inline-block;
        font-size: 18px;
        line-height: 30px;
        margin-bottom: $global-margin;
        a {
            color: $footer-color;
            svg {
                 width: 2rem;
                     height: 2rem;
                     path {
                          //fill: $brand-primary;
                     }
           		&:hover path, &:focus path {
           			//fill: darken($brand-primary, 20%);
           		}
            }
            span {
                 position: absolute !important;
                     width: 1px;
                     height: 1px;
                     overflow: hidden;
                     clip: rect(0,0,0,0);
            }
        }
    }
}

.widget_social_footer_widget {
     text-align: center;
}

.widget_social_footer_widget ul {
    padding: 0.7rem 0;

}

.post_details_social {
    svg  {
		&:hover path, &:focus path {
			fill: darken($brand-primary, 20%);
		}
	path {
        fill: $brand-primary;
    }
}
}