.stripe-stat-counter {
    padding-top: 1rem;
    padding-bottom: 1rem;
    section.stat_counter {
        text-align: center;
        font-weight: bold;
        font-size: 1.2rem;
        @include breakpoint(medium) {
            font-size: 1.4rem;
        }
        @include grid-row();
    }
}