.multi-image-slider {
     .slick-list {
          overflow-y: visible;
          margin-bottom: 60px;
     }
     .slick-slide .multi-image-container {
          opacity: 0.7;
          transition: all 0.5s;
          transform: scale(0.8);
     }
     .slick-slide.slick-center .multi-image-container {
          opacity: 1;
          transform: scale(0.95);
     }
     .slick-dots {
         // margin: -20px 0 0 0;
     }
     .multi-image-container {
          background: white;
          padding: 20px;
          position: relative;
          box-shadow: $card-shadow;
          .multi-image-text {
               color: #000;
               p {
                    color: #000;
               }
               h3 {
                    margin-top: 1rem;
                  color: #000;
                  font-size: 1rem;
               }
          }
     }
}

.logo-slider {
     .slick-list {
     }
     .logo-slider-container {
     }
     .logo-slider-image img.size-full {
          width: auto;
          max-width: 100%;
     }
}