.stripe-resources {
	.stripe-content {
        @include breakpoint(medium)  {
            @include grid-col-pos(1);
            @include grid-column(10);
        }
	}
    header {
        text-align: center;
    }
}

.resource-card {
	box-shadow: $card-shadow;
	padding: 1rem;
	background: $white;
	margin-bottom: 1rem;
	a.button, a.button:hover, a.button:focus  {
		color: $white;
	}
}