.stripe-upcoming-events {
    header {
        text-align: center;
    }
    .text-center {
        clear: both;
    }
    .events-list {
        ul.list-items {
            text-align: center;
            @include grid-column(12);
            @include breakpoint(medium) {
                @include grid-column(10);
                @include grid-col-pos(1);
            }
            @include breakpoint(large) {
                @include grid-column(8);
                @include grid-col-pos(2);
            }
            margin-bottom: 0;
             li.list-item a {
                display: inline;
            }
        }
    }
    .more-events {
           margin-bottom: 0;
    }
}