/*
Stripe Text Block Component
JellyPress Master
Updated: 27-09-2019
*/

.stripe-text-block {
     
     .button {
          margin-right: 0.5rem;
     }
     
    &.stripe-normal-pad {
        padding-bottom: 2rem;
    }
    .text_block.row {
        @include grid-row();
    }
    
    .stripe-content-aside {
        margin-bottom: 1rem;
    }
    
    &.stripe-has-aside .stripe-content {
        @include breakpoint(medium) {
                    min-height: 450px;
                    }	    
    }
    
    &.stripe-has-aside.stripe-narrow .stripe-content {
        @include breakpoint(medium) {
                min-height: 390px;
                    }	    
    }
    

    
    .stripe-content {
        position: relative;
        @include breakpoint(medium) {
            @include grid-column(12);

        }
        .stripe-content-aside  {   
            @include breakpoint(medium) {
                margin-left: map-get($grid-column-gutter, medium);
                margin-right: map-get($grid-column-gutter, medium);
            }
        }
    }
    
    &.stripe-narrow .stripe-content {
        @include breakpoint(medium) {
            @include grid-col-pos(1);
            @include grid-column(10);
        }
    }
    
    .stripe-content.text-align-left {
        text-align: left;
    }
    
    &.two-thirds .stripe-content .stripe-content-aside {
         img {
              border-radius: 1000px;
         }
         text-align: center;
         margin-left: auto;
         margin-right: auto;
    }
    
    .stripe-content.text-align-center {
        text-align: center;
    }
    .stripe-content.text-align-right {
        text-align: left;
    }
    @include breakpoint(medium) {
        .stripe-content.image-right .stripe-content-text, .stripe-content.image-right header {
            width: 50%;
        }
        .stripe-content.image-right .stripe-content-aside {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 50%;
            right: 0;
        }
        &.two-thirds .stripe-content.image-right .stripe-content-aside  {
             left: 70%;
        }
        
        &.two-thirds .stripe-content.image-right header  {
             width: 70%;
        }
        
        &.two-thirds .stripe-content.image-left header  {
             width: 70%;
        }
        
        &.two-thirds .stripe-content.image-right .stripe-content-text, &.two-thirds .stripe-content.image-left header {
             width: 70%;
        }
    }
    @include breakpoint(medium) {
        .stripe-content.image-left .stripe-content-text, .stripe-content.image-left header {
            width: 50%;
            margin-left: 50%;
        }
    
        .stripe-content.image-left .stripe-content-aside {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 50%;
            left: 0;
        }
        &.two-thirds .stripe-content.image-left .stripe-content-aside  {
             right: 70%;
        }
        
        &.two-thirds .stripe-content.image-left .stripe-content-text, &.two-thirds .stripe-content.image-left header {
             width: 70%;
             margin-left: 30%;
        }
    }

}