/**
* Case study slider 10 June 2019
*/

.stripe-case-study-slider {
    header {
         margin-left: .78125rem;
         margin-right: .78125rem;
        text-align: center;
        margin-bottom: 2rem;
    }
    .case-study-slider {
        margin-left: auto;
        margin-right: auto;
        .slick-dots {
            margin: -30px 0 0 0;
        }
        .case-study-slide {
            padding-bottom: 40px;
        }
        .case-study-container {
            @include grid-row();
            .case-study-text {
                @include grid-column(12);
                padding-left: 60px;
                padding-right: 60px;
                @include breakpoint(medium) {
                    @include grid-col-pos(-1);
                    @include grid-column(6);
                }
                @include breakpoint(large) {
                    @include grid-column(5);
                }
            }
            .case-study-image {
                 padding-left: 60px;
                 padding-right: 60px;
                margin-bottom: 1rem;
                @include breakpoint(medium) {
                    @include grid-col-pos(1);
                    @include grid-column(4);
                }
                @include breakpoint(large) {
                    @include grid-column(5);
                }
            }
        }
        .case-study-slide.slick-slide .case-study-image img {
            display: inline-block;
            width: auto;
            max-width: 100%;

        }
    }
}