/*
Profile Card Component
JellyPress Master
Updated: 12-06-2019
*/


.stripe-profile-cards .profile-cards .profile-cards-header-wrapper {
    header {
        @include grid-column(12);
    }
}
.stripe-profile-cards .profile-cards .profile-cards-content-wrapper {
    .profile-cards-content {
        @include grid-column(12);
    }
}

@include breakpoint(medium) {
    .stripe-profile-cards.stripe-narrow .profile-cards .profile-cards-content-wrapper {
        .profile-cards-content {
            @include grid-col-pos(1);    
            @include grid-column(10);
        }
    }
    .stripe-profile-cards.stripe-narrow .profile-cards .profile-cards-header-wrapper {
        header {
            @include grid-col-pos(1);        
            @include grid-column(10);
        }
    }
}

.stripe-profile-cards {
    .profile-cards {
        .profile-cards-header-wrapper {
            @include grid-row();
            header {
                text-align: center;
            }
        }
        .profile-cards-content-wrapper {
            @include grid-row();

            .profile-cards-content {
                &.squarecrop .profile-card img {
                    border-radius: 0;
                }
                &.squarecrop .profile-card .placeholder {
                    border-radius: 0;
                }
                display: table;
                .profile-card {
                    display: block;
                    padding-top: 2rem;
                    padding-bottom: 2rem;
                    color: $card-font-color;
                    display: table-row;
                
                    &:first-child .profile-image {
                        border-top: 1px solid darken($light-gray ,20%);
                    }
                    &:first-child .profile-card-section {
                        border-top: 1px solid darken($light-gray ,20%);
                    }
                    .profile-image {
                        display: table-cell;
                        width: 25%;
                        min-width: 75px;
                        max-width: 120px;
                        border-bottom: 1px solid darken($light-gray ,20%);
                        padding-top: 20px;
                        padding-bottom: 20px;
                    }
                    img {
                        max-width: 100%;
                        height: auto;
                        margin-left: auto;
                        margin-right: auto;
                        vertical-align: middle;
                        transition: all 0.2s ease-in-out;
                        border-radius: 1000px;
                    }
                    .placeholder {
                        border-radius: 1000px;
                        width: 100%;
                        padding-bottom: 100%;
                        transition: all 0.2s ease-in-out;
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-image: url("../images/thumbnail-placeholder.svg");
                        width: 100%;
                        background-size: cover;
                    }
                    .profile-card-section {
                        display: table-cell;
                        vertical-align: middle;
                        border-bottom: 1px solid darken($light-gray ,20%);
                        padding: 1rem;
                        width: 75%;
                        .biography, .twitter, .website_link  {
                            display: block;
                            margin-bottom: 1rem;
                            &:hover, &:hover {
                                text-decoration: underline;
                            }
                            svg {
                                margin-right: 0.3rem;
                                display: inline-block;
                                height: 1.5rem;
                                width: auto;
                                vertical-align: top;
                            }
                        }
                    }
                }
            }
        }
    }
}