.header-wrapper {
    #featured-hero.video {
        max-width: none;
        position: relative;
        .video-overlay {
            width: 100%;
            position: absolute;
            text-align: center;
            z-index: 3;
            top: 50%;
            left: 50%;
            position: absolute;
            transform: translate(-50%, -50%);
        }
        video {
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            top: 50%;
            left: 50%;
            position: absolute;
            transform: translate(-50%, -50%);
        }
    }
}