/**
 * Stripe Testimonials
 * 
**/

.stripe-testimonials {
	text-align: center;
	header {
		padding-left: 20px;
		padding-right: 20px;
	}
	.testimonial-slide {
		padding-top: 10px;
		padding-bottom: 60px;
		@include breakpoint(medium)  {
			padding-top: 20px;
			padding-bottom: 80px;
		}
		figure {
			margin-left: auto;
			margin-right: auto;
		}
		blockquote {
			border-left: none;
			padding: 0 70px;
			color: inherit;
			font-weight: normal;
			quotes: "\201C" "\201D";
			@include breakpoint(medium)  {
				margin: 0 80px;
			}
		}
		blockquote:before {
			left: 20px;
		}
		blockquote:after {
			content: close-quote;
			font-size: 60px;
			font-weight: bold;
			position: absolute;
			right: 20px;
			top: 0;
			line-height: 1;
		}
		figcaption {
			margin-top: 1rem;
			&:before {
				content: "- ";
			}
			font-weight: bold;
		}
	}
}

blockquote {
	position: relative;
	border-left: 5px solid $brand-primary;
	padding: 0 2.5em;

}