/*
Stripe List
Updated: 5-12-2018
*/

.stripe-list {
       @include grid-row();
	.stripe-content {
		@include breakpoint(medium) {
			@include grid-column(10);
			@include grid-col-pos(1);
		}
		@include breakpoint(large) {
			@include grid-column(8);
			@include grid-col-pos(2);
		}
	}
}