/*
  Navigation Stripe
  JellyPress Master
  Updated: 19-12-2018
*/

.stripe-nav-menu {
    .stripe-content {
		.text-content {
				@include grid-column(12);
					@include breakpoint(medium) { 
						@include grid-column(10);
						@include grid-col-pos(1);
					}
					@include breakpoint(large) { 
						@include grid-column(8);
						@include grid-col-pos(2);
					}
		}
		@include breakpoint(medium)  {

		.nav-menu-column-1 {
			width: 46%;
			margin-right: 3%;
		}
		
		.nav-menu-column-2 {
			width: 46%;
		}
	}
		
		.nav-menu-column-1, .nav-menu-column-2 {
			@include breakpoint(medium)  {
			display: inline-block;
			vertical-align: top;
		}
	        > li > a {
				color: inherit;
	            font-weight: bold;
				margin-top: 1rem;
				&:hover, &:focus, &:active {
					text-decoration: underline;
				}
	        }
	         > li > a:last-child {
	        border-bottom: none;
	        }
	         > li > ul {
	            font-size: 90%;
	        }
	            margin-left: 0;
	            li {
	                list-style: none;
	                a {
	                    padding: 0.2rem 0;
						&:hover, &:focus, &:active {
							text-decoration: underline;
						}
	                }
	            }
	            a {
					color: inherit;
	                display: block;
	                list-style: none;
	                padding: 0.2rem 0;
	                line-height: 1;
					&:hover, &:focus, &:active {
						text-decoration: underline;
					}
	            }
		}
        > ul > li > a {
            font-weight: bold;
			&:hover, &:focus, &:active {
				text-decoration: underline;
			}
        }
        > ul > li > a:last-child {
        border-bottom: none;
        }
        > ul > li > ul {
            font-size: 90%;
        }
        ul {
            margin-left: 0;
            li {
                list-style: none;
                a {
					color: inherit;
                    padding: 0.5rem 0;
					&:hover, &:focus, &:active {
						text-decoration: underline;
					}
                }
            }
            a {
				color: inherit;
                display: block;
                list-style: none;
                padding: 0.2rem 0;
                line-height: 1;
				&:hover, &:focus, &:active {
					text-decoration: underline;
				}
            }
        }
    }
}