/*
  Stripe Map Component
  JellyPress Master
  Updated: 04-03-2019
*/

.stripe.stripe-map {
    padding-top: 0;
    padding-bottom: 0;
}

.acf-map {
	width: 100%;
	height: 500px;
	margin: 0;
}

/* fixes potential theme css conflict */
.acf-map img {
   max-width: inherit !important;
}

.gm-style .gm-style-iw-t::after {
	margin-top: -1px;
}

.gm-style .gm-style-iw-c {
	border-radius: 0;
	    padding: 1rem;
		font-family: $body-font-family;
		font-weight: normal;
}