.stripe-latest-news {
    header {
        text-align: center;
    }
    .text-center {
        clear: both;
    }
    .news-list {
        ul.list-items {
            @include grid-column(12);
            @include breakpoint(medium) {
                @include grid-column(10);
                @include grid-col-pos(1);
            }
            @include breakpoint(large) {
                @include grid-column(8);
                @include grid-col-pos(2);
            }
            margin-bottom: 0;
        }
    }
    .more-news {
                    margin-bottom: 0;
    }
}