/*
Tribe List Events
<<<<<<< HEAD
Updated: 02-12-2019
=======
Updated: 05-07-2019
>>>>>>> 22d97c03c7759662b4e42a403a5042fb33b9626e
*/
.tribe-events-nav-pagination {
	margin-top: 1rem;
}

.filter-header #tribe-bar-views, .filter-header .tribe-bar-search-filter, .filter-header .tribe-bar-date-filter {
	padding-left: 0;
	padding-right: 0;
}

#tribe-bar-date, #tribe-bar-search {
	border-top: 0;
	@include breakpoint(medium) {
		border-top: 1px solid $medium-gray;
		border-left: none;
	}
}

.tribe-bar-filters, .tribe-bar-views-inner {
	label {
		display: none;
	}
}

.tribe-events-list .type-tribe_events {
	box-shadow: $card-shadow;
	background: $light-light-gray;
	border: $card-border;
	position: relative;
	color: $card-font-color; 
	margin-bottom: 1rem;
	@include breakpoint(866px) {
		max-height: 280px;
	}
	.stripe-light-light-gray & {
		background: $white;
	}
	img {
		transition: all 0.2s ease-in-out;
		width: 100%;
		height: auto;
		@include breakpoint(866px) {
			width: auto;
			max-width: none;
			height: 100%;
			margin-left: auto;
			margin-right: auto;
		}
	}
	.tribe-event-schedule-details {
		font-weight: bold;
	}
	.tribe-events-event-image {
		@include breakpoint(866px) {
			width: 300px;
			height: 100%;
			top: 0;
			bottom: 0;
			position: absolute;
			overflow: hidden;
		}
	}
	.placeholder {
		width: 100%;
		padding-bottom: 66.666666%;
		transition: all 0.2s ease-in-out;
		background-position: center center;
		background-repeat: no-repeat;
		background-image: url("../images/thumbnail-placeholder.svg");
		background-color: $brand-primary;
		background-size: cover;
	    margin: 0;
		@include breakpoint(866px) {
			max-width: none;
			margin-left: 1;
			margin-right: auto;
			height: 100%;
		}
	}
	.tribe-events-card-content {
		.tribe-events-event-meta {
			font-size: 1rem;
            line-height: 1;
		}
		padding: 1rem;
		@include breakpoint(866px) {
			margin-left: 300px;
			float: left;
		}
	}
}

// The Tribe Picker

.tribe-bar-views-select {
	display: none;
}

// Fallback for no js

.no-js .tribe-bar-views-select {
	display: block;
}

#tribe-bar-views-toggle {
    cursor: pointer;
	background: $white;
	height: ($input-font-size + $form-spacing * 1.45);
	margin-bottom: 0;
	display: inline;
	outline: none;
	width: 100%;
	text-align: left;
	border-radius: 0;
	padding-left: $input-prefix-padding * 0.6;
	padding-right: $input-prefix-padding * 0.6;
	border: 1px solid #8a8a8a;
	background-color: #fefefe;
	-webkit-transition: border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s;
	transition: border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s;
	transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
	transition: box-shadow 0.5s, border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s;
}

.tribe-events-list-separator-month {
	margin-top: 2rem;
}
#tribe-bar-views .tribe-bar-views-list {
    cursor: pointer;
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
	background: $light-gray;
	border: 1px solid #8a8a8a;
	border-top: none;
	border-radius: 0;
	display: none;
	left: 0;
	margin: 0;
	padding: $input-prefix-padding * 0.6;
	position: absolute;
	top: auto;
	width: 100%;
	z-index: 2;
	li {
		padding-bottom: $input-prefix-padding * 0.6;
	}
}

#tribe-bar-views li.tribe-bar-views-option {
	background: none;
	border: none;
	box-shadow: none;
	filter: 'progid:DXImageTransform.Microsoft.gradient(enabled=false)';
	line-height: 14px;
	list-style: none;
	list-style: none;
	margin: 0;
}

#tribe-bar-views .tribe-bar-views-option:first-child,
#tribe-bar-views .tribe-bar-views-option.tribe-bar-active,
#tribe-bar-views.tribe-bar-views-open .tribe-bar-views-option {
	display: list-item;
}

#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a {
	background: $white;
	color: #000;
	display: block;
	padding: $input-prefix-padding * 0.6;
	text-align: left;
	text-decoration: none;
}

#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a:hover {
	background: #cacaca;
	color: inherit;
}

#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option.tribe-bar-active a:hover {
	background: #e0e0e0;
}

#tribe-bar-views .tribe-bar-views-option:last-child  a {
	border-radius: 0 0 3px 3px;
}

.tribe-bar-views-inner {
	position: relative;
}

#tribe-bar-views .tribe-bar-views-list {
	float: left;
	width: 100%;
}

#tribe-bar-views .tribe-bar-settings {
	display: none;
}
