/*
Contact Form 7 Settings
Updated: 27-09-2019
*/

.wpcf7-form {
	label {
		font-size: 1rem;
	}
	.wpcf7-submit {
		@extend .button
	}
}

.alpha {
	@include breakpoint(medium) {
		padding-left: 0;
	}
}
.omega {
	@include breakpoint(medium) {
		padding-right: 0;
	}
}

div.wpcf7-mail-sent-ok {
	border: 1px solid darken($success-color, 20%);
	background: $success-color;
	color: $white;
	padding: $global-padding;
	margin: $global-margin 0;
}

div.wpcf7-mail-sent-ng,
div.wpcf7-aborted, div.wpcf7-spam-blocked, div.wpcf7-validation-errors,
div.wpcf7-acceptance-missing, span.wpcf7-not-valid-tip {
	border: 1px solid darken($warning-color, 20%);
	background: $alert-color;
	color: $white;
	padding: $global-padding;
	margin: $global-margin 0;
}

span.wpcf7-list-item {
	display: inline-block;
	margin: 0 2em 0 0;
    width: 100%;
}

.stripe-contact-form {
    section {
        @include grid-row();
    }
    &.stripe-narrow .stripe-content {
	@include breakpoint(medium) {
        @include grid-col-pos(1);    
        @include grid-column(10);
    }
    }
    
    
	.wpcf7-submit.button {
		margin-top: $global-margin;
	}
}

.input-group.signup {
	display: table;
	.wpcf7-email, input[type="email"] {
		margin-bottom: 0;
		height: 2.1rem;
	}
	.input-group-button {
		.wpcf7-submit.wpcf7-form-control, input.button {
			display: table-cell;
			margin-top: 0;
			margin-bottom: 0;
			padding-top: 0;
			padding-bottom: 0;
			border-radius: 0;
			height: 2.1rem;
		}
	}
}

.no-border {
	border: none;
}

div.wpcf7 .ajax-loader {
    margin: 0 0 0 0.5rem;
    vertical-align: middle;
    height: 2rem;
    background-repeat: no-repeat;
}