/*
Woocommerce
Updated: 20-12-2018
*/

.tabs.wc-tabs {
    border: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
    margin: 0 0 0 0.1em;
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
    padding: 0 0 0 0.1em;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li::before,
.woocommerce div.product .woocommerce-tabs ul.tabs li::after {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

a.cart-contents {
    color: #fff;
    top: 15px;
    right: 15px;
    position: absolute;
}

.cart-contents:before {
    font-family:WooCommerce;
    content: "\e01d";
    font-size:28px;
    margin-top:10px;
    font-style:normal;
    font-weight:400;
    padding-right:5px;
    vertical-align: bottom;
}
.cart-contents:hover {
    text-decoration: none;
}
.cart-contents-count {
    color: #fff;
    background-color: #2ecc71;
    font-weight: bold;
    border-radius: 10px;
    padding: 1px 6px;
    line-height: 1;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: top;
}