/*
Footer
JellyPress Master
Updated: 18-03-2018
*/

.filter-header {
	background: lighten($brand-primary, 50%);
	.filter-header-inner {
		.tribe-events-page-title {
			text-align: center;
		}
		@include grid-row()
		.tribe-events-title-bar {
			margin-top: 1rem;
			@include grid-column(12);
		}
		#tribe-events-bar {
			margin-left: 1rem;
			margin-right: 1rem;
			margin-bottom: 1rem;
		}
	}
	.tribe-bar-date-filter {
		@include grid-column(12);
		@include breakpoint(medium) {
			@include grid-column(5);
			padding-left: 0;
			padding-right: 0;
		}
	}
    
	#tribe-bar-views {
		@include grid-column(12);
		@include breakpoint(medium) {
			@include grid-column(5);
			padding-left: 0;
			padding-right: 0;
		}
	}
    
	.tribe-bar-views-list {
		margin-left: 0;
		li {
			margin-right: 10px;
			display: inline-block;
		}
	}
}

.filter-content-container {
	@include grid-row();
	.filter-content-container-inner {
		@include grid-column(10);
	}
}

.tribe-bar-filters {
	.tribe-events-button {
		@extend .button;
		margin-left: 0;
		margin-right: 1rem;
		margin-top: 1.25rem;
		float: left;
	}
}


.stripe-filter-wrapper {
	@include grid-row();
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	.input-group-select {
		display: table-cell;
	}
	.input-group-text {
		display: table-cell;
	}
		
	.input-group-button input {
		border-radius: 0;
	}
		
	.input-group-button a.clear-filter {
		height: 2.08333rem;
		padding-left: 1rem;
		padding-right: 1rem;
		svg {
		    display: inline-block;
		    vertical-align: bottom;
		    height: 1.1rem;
		}
	}
	.input-group-select select, .input-group-text input[type="text"] {
		height: ($input-font-size + $form-spacing * 1.5);
		margin-bottom: 0;
		display: inline;
	}
}
	
	
