/*
Footer
JellyPress Master
Updated: 19-06-2019
*/

#footer-container {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    clear: both;
    background: $footer-background;

    #footer {
        .widget {
            margin-bottom: $global-margin*2;
            @include grid-column(12);
            text-align: center;
        }
        .menu {
            text-align: center;
            //new
            @include breakpoint(medium) {
                text-align: left;
            }
            & > li {
                display: block;
                & > a {
                    padding: 0.7rem 0;
                    color: $footer-color;
                    &:hover, &:focus {
                        color: lighten($footer-color, 40%);
                    }
                }
            }
        }
      
        @include grid-row();
        padding: rem-calc(60) 0;
        color: $footer-color;
        h3, h4 {
            color: $footer-color;
        }
        
        .social-links li {
             background: $brand-primary;
             border-radius: 50%;
             line-height: 50px;
             height: 55px;
             width: 55px;
             margin: 5px;
        }
        
        .social-links li:hover {
        background: darken($brand-primary, 10%);
        }
        .social-links li a, .social-links li svg {
            vertical-align: middle;
            color: $footer-color;
            path {
                 color: $white;
            }
            &:hover, &:focus {
                color: lighten($footer-color, 40%);
                text-decoration: underline;
            }
        }
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
    }
    .footer-logos {
        width: 100%;
        clear: both;
        text-align: center;
    }
    
    .funder-logo, .delivery-mark {
        margin-left: 1rem;
        transition: all 0.5s;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-bottom: 1rem;
        text-indent: -1000px;
        overflow: hidden;
        position: static; 
        background-color: transparent;
        display: inline-block;
    }
    
    .funder-logo {
        @include svg-bg(bbo-logo, $funder-logo-width, $funder-logo-height, 1);
    }
    
     .delivery-mark {
         @include svg-bg(delivery-mark, $delivery-mark-width, $delivery-mark-height, 1);
    }
    
}

.copyright {
    text-align: center;
    font-size: 0.8rem;
    margin-top: $global-margin;
}
