/*
Navigation Settings
Updated: 21-06-2019
*/

// 1. Header
// 2. Menus
// 3. Mega Menus

.site-header {
    position: relative;
    z-index: 10; 
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.22);
    @if $fixedheader == true {
        top: 0;
        width: 100%;
        position: fixed;
        .admin-bar & {
            top: 32px;
        }
    }
}

@if $fixedheader == true {
    body {
        padding-top: $mobile-navigation-height * 1px;
        @include breakpoint(menubreakpoint)  {
            padding-top: $navigation-height * 1px;   
        }
    }
}

.js-dropdown-active {
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.22);
}

// Navigation breakpoints
.desktop-menu, .top-bar-left {
     font-size: 90%;
    @include show-for(menubreakpoint);
}

#mobile-menu, .title-bar {
    @include hide-for(menubreakpoint);
}

.navigation-wrapper {
    position: relative;
    @include grid-row();
}

@if $searchtoggle == true {
    .top-bar-right {
        position: relative;
    }
}

// Mobile menu
.off-canvas {
    > ul.menu {
        height: 100vh;
        padding: 1rem;

        a {
            color: $white;
            font-weight: normal;
            font-size: rem-calc(18);
            &:hover, &:focus {
                color: lighten($brand-primary, 50%);
            }
        }

        .is-accordion-submenu-parent > a::after {
            display: block;
            width: 0;
            height: 0;
            border: inset 6px;
            content: '';
            border-bottom-width: 0;
            border-top-style: solid;
            border-color: $white transparent transparent;
            position: absolute;
            top: 50%;
            margin-top: -3px;
            right: 1rem;
        }
    }

    .menu .active > a { 
        background: $navigation-bg-color;
        color: $navigation-text-color;
    }
}

.title-bar {
    position: relative;
    padding: 0;
    background: $navigation-bg-color;
    box-shadow: $navigation-shadow;
    .menu-icon {
        margin-left:0;
        margin-right: $title-bar-padding * 1px;
        @if $brandingwrapper == true {
            float: left;
        }
        @else {
            float: right;
        }
        width: $mobile-navigation-height * 1px;
        height: $mobile-navigation-height * 1px;
        &:hover, &:active, &:focus, &.active {
            background: $dropdown-color;
        }
        &:hover:after {
            background: $navigation-text-color-hover;
            box-shadow: 0 7px 0 $navigation-text-color-hover, 0 14px 0 $navigation-text-color-hover;
        }
        &:after {
            position: absolute;
            top: 20px;
            left: 15px;
            display: block;
            width: $mobile-navigation-height - 30px;
            height: 3px;
            box-shadow: 0 7px 0 $navigation-text-color, 0 14px 0 $navigation-text-color;
            background: $navigation-text-color;
            content: '';
            transition: all 0.25s ease-in-out 0s;
        }
        &:before {
             transition: all 0.25s ease-in-out 0s;
        }
        
        &.active {
             position: relative;
        }
        
        &.active:before {
             top: 15px;
             content: '';
               height: 30px;
               border-left: 3px solid #000;
               position: absolute;
               width: 0;
               transform: rotate(-45deg);
               left: 28px;
             }
         &.active:after {
              top: 15px;
              content: '';
                  height: 30px;
                  border-left: 3px solid #000;
                  position: absolute;
                  transform: rotate(45deg);
                  left: 28px;
                  width: 0;
                  box-shadow: none;
                  background: none;
        }
    }
}

.title-bar-title {
    a.logo {
        text-indent: -1000px;
        overflow: hidden;
        margin-left: 7px;
        position: static; 
        display: block;
        float: none;
        height: $mobile-navigation-height *1px;
        background-color: transparent;
        @include svg-bg(logo, $mobile-logo-width, $mobile-navigation-height, 1);
    }
}

#mobile-menu  {
    display: none;
    opacity: 0;
    transform: translateX(100vw) scaleX(0);
    z-index: 200;
    position: absolute;
    width: 100vw;
    opacity: 0;
    transition: all 0.5s ease-in-out 0s;
    height: 0;
    &.active {
         position: absolute;
         z-index: 100;
         transform: translateX(0) scaleX(1);
         opacity: 1;
    }
    
     ul {
          height: 100vh;
     }
    
    ul li a {
        color: $black;
        font-weight: normal;
        text-align: center;
        padding: 20px;
    }
}
    
#mobile-menu-oc .menu.nested {
    margin-left: 0;
    a {
        font-size: 90%;
        font-weight: normal;
    }
}

#mobile-menu > ul.menu {
    background: $white;
    > a, .active > a {
    background: $dropdown-color;
    }
    .is-accordion-submenu-parent > a::after {
    }
    a {
    }
    
    // Submenu items
        
    .menu-item-has-children > ul {
        box-shadow: inset 0px 5px 6px -4px $dropdown-color;
        margin-left: 0;
        text-indent: 1 rem;
        a {
            font-weight: normal;
            font-size: 0.9rem;
        }
    } 
}

// Tablet and desktop menu
.top-bar {
    background-color: $navigation-bg-color;
    box-shadow: none;
    position: relative;
    
    .desktop-menu > li.menu-item > a {
        font-weight: normal;
        padding-bottom: 2px;
        line-height: 58px;
        height: 60px;
    }
        
    ul {
        background-color: transparent;
    }
        
    .menu .home a.logo {
        margin-left: 20px;
        text-indent: -1000px;
        overflow: hidden;
        position: static; 
        display: block;
        float: none;
        background-color: transparent;
        @include svg-bg(logo, $logo-width, $logo-height, 1);
        height: $navigation-height * 1px;
    }
        

    .menu a {
        color: $navigation-text-color;
        padding-top: 0;
        padding-bottom: 0;
        line-height: $navigation-height * 1px;
        height: $navigation-height * 1px;
        position: relative;
            
        &:hover, &:focus {
            @if $menudroplet != true {
                background-color: $dropdown-color;
                color: $dropdown-text-color-hover;
            }
            @else {
                color: $navigation-text-color-hover;
            }
        }
            
    }
        
    @if $navunderline == true {
        .top-bar-right .menu li.current_page_item a:before {
            content: "";
            position: absolute;
            height: 2px;
            bottom: 20px;
            left: 0.75rem;
            right: 0.75rem;
            background-color: $brand-primary;
            transition: all 0.1s ease-in-out 0s;
            visibility: visible;
            transform: scaleX(1);
        }
        
        .top-bar-right .menu a {

            &:hover:before {
                visibility: visible;
                transform: scaleX(1);
                opacity: 1;
            }
        
            &:before {
                content: "";
                position: absolute;
                height: 2px;
                opacity: 0;
                bottom: 20px;
                left: 0.75rem;
                right: 0.75rem;
                background-color: $brand-primary;
                visibility: hidden;
                transform: scaleX(0);
                transition: all 0.1s ease-in-out 0s;
            }
        
        }
    }
        
    .menu-item.is-active > a {
        @if $menudroplet != true {
            background-color: $dropdown-color;
            color: $dropdown-text-color-hover;
            z-index: 12;
        }
    }
    .dropdown.menu .submenu {
        background-color: $dropdown-color;
        z-index: 11;
        a {
            color: $dropdown-text-color;
            &:hover, &:focus {
                color: $dropdown-text-color-hover;
                text-decoration: $dropdown-text-decoration;
            };
        }
    }

    .dropdown.menu .submenu { border: 0; }
    .dropdown.menu .has-submenu.is-down-arrow a { padding-right: 1rem; }
    .dropdown.menu .has-submenu.is-down-arrow > a::after { border: 0; }
    .dropdown.menu:first-child > li.is-dropdown-submenu-parent > a::after { display: none; }
}

// Basic styles for post navigation. Nicolas Gallagher's "Micro clearfix"
// https://css-tricks.com/snippets/css/clear-fix/
.post-navigation:before,
.post-navigation:after {
    content: "";
    display: table;
}

.post-navigation:after {
    clear:both;
}

.nav-previous { float:left; }
.nav-next { float:right; }

.top-bar {
    @if $menudroplet == true {
        .dropdown.menu:first-child > li.is-dropdown-submenu-parent.is-active > a::after {
            bottom: 0;
            left: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-bottom-color: $dropdown-color;
            border-width: $menudropletsize;
            margin-left: ($menudropletsize) * -1;
            display: block;
            padding-top: 12px;
            z-index: 1000;
        }
    

            
    }
    .dropdown.menu {
        .is-dropdown-submenu-parent {
            &.opens-left > .is-dropdown-submenu {
                left: 0;
                @if $menudroplet == true {
                    top: 80%;
                }
            }
        }
    }
}
    
.dropdown.menu.submenu.is-dropdown-submenu {
    -webkit-transition: all .1s linear 0s;
    transition: all .1s linear 0s;
    transform: scale(0) translateY(0) translateZ(0) opacity(0);
    transform-origin: 10% 0;

}
    
@if $brandingwrapper == true {

    .branding-wrapper {
        @include grid-row();
        padding-top: 20px;
        padding-bottom: 20px;
        background: $white;
    }
    
    .branding {
        position: relative;
     
        @include breakpoint(small) {
            @include grid-column(12);
        }

        @include breakpoint(medium) {
            @include grid-column(12);
        }
    
        @include breakpoint(large) {
            @include grid-column(12);
        }
        
        .logo, .funder-logo {
            transition: all 0.5s;
            margin-left: auto;
            margin-right: auto;
            @include breakpoint(medium) {
                margin-left: 0;
            } 
            text-indent: -1000px;
            overflow: hidden;
            position: static; 
            display: block;
            float: none;
            background-color: transparent;
        }
        .logo {
            background-position: center center;
            background-repeat: no-repeat;
            -webkit-background-size: contain;
            background-size: contain;
            background-image: url("../images/logo.svg");
            width: 100%;
            height: 0;
            padding-bottom: $logo-height/$logo-width * 100%;
            @include breakpoint(480px) {
                padding-bottom: 15%;
            }
            @include breakpoint(menubreakpoint) {
                padding-bottom: 0;
                @include svg-bg(logo, $logo-width, $logo-height, 1);
            }
            @include breakpoint(large) {
                margin-left: -15px;
            }
        }
        .funder-logo {
            display: none;
            @include breakpoint(menubreakpoint) {
                display: block;
                @include svg-bg(bbo-logo, $funder-logo-width, $funder-logo-height, 1);
                top: 0;
                right: 20px;
                position: absolute;
            }
        }
    }
}
    
@if $megamenu == true {
    .top-bar .desktop-menu .mega-menu li a {
        line-height: 1.4;
        height: auto;
    }

    .desktop-menu .mega-menu {
        position: static;
        ul {
            margin-left: 0;
        }
    }

    .desktop-menu .mega-menu > ul.is-dropdown-submenu {
        padding-top: 1rem;
        width: 100%;
        height: 350px;
    }

    .desktop-menu .mega-menu > ul.is-dropdown-submenu div > li {
        margin-top: 1rem;
    }

    .desktop-menu .mega-menu > ul.is-dropdown-submenu li {
        list-style: none;
        margin-left: 0;
    }
    .desktop-menu .mega-menu > ul.is-dropdown-submenu li > ul {
        margin-left: 0;
    }

    .desktop-menu .mega-menu-column {
        margin-bottom: 1rem;
        width: 25%;
        float: left;
        border-right: 1px solid darken($dropdown-color, 15%);
        min-height: 280px;
        h4 {
            font-size: 1.1rem;
            padding: 0.5rem 0 0 1rem;
            margin-bottom: 0.2rem;
            color: $black;
        }
        a.button {
            margin-left: 1rem;
            color: $white;
            &:link, &:hover:link {
                color: $white;
                text-decoration: none;
            }
        }
        p {
            font-size: 80%;
        }
        p, a.button {
            padding: 0.7rem 1rem;
        }
        ul {
            margin-bottom: 1rem;
            li {
                display: block;
                font-size: 80%
            }
        }
    }

    #mobile-menu-oc .mega-menu-column ul.menu > li {
        display: block;
        a {
            font-weight: normal;
            font-size: 90%;
        }
    }

    #mobile-menu-oc h4, #mobile-menu-oc p {
        font-size: 90%;
        color: $white;
        padding: 0.7rem 1rem;
        margin-bottom: 0;
    }
}
@if $brandingwrapper == true {
    .branding-wrapper-buttons {
        display: none; 
        @include breakpoint(medium) {
            position: absolute;
            right: 10px;
            top: 0;
            bottom: 0;
            display: table;
            height: $logo-height * 1px;
            border-spacing: 10px;
            a.button {
                margin-left: 10px;
                display: table-cell;
                vertical-align: middle;
            }
        }
    }
}
