/*
Search Form Settings
Updated: 12-06-2019
*/

.top-bar #searchform input.input-group-field {
    max-width: none;
}

.search-toggle {
    color: #fff;
    top: 0;
    @if $brandingwrapper == true {
        right: 0;
    }
    @else {
        right: 80px;
    }
    height: $mobile-navigation-height * 1px;
    width: 30px;
    @include breakpoint(medium) {
        height: $navigation-height * 1px;
        width: 30px;
    }
    @if ($offcanvas = false) {
        display: none;
        @include breakpoint(menubreakpoint) {
            display: block;
        }
    }
    position: absolute;
    background-image: url('#{"" + $image-directory}/icons/search-icon.svg');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center center;
    text-indent: -999px;
    overflow: hidden;
    z-index: 0;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    @include breakpoint(medium) {
            z-index: 1;
    }
    .no-svg & {
        background-image:url('#{"" + $image-directory}/icons/search-icon.png');
    }
    &:hover, &:active, &:focus, &.active {
        @if $menudroplet != true {
            background-color: $dropdown-color;
            color: $dropdown-text-color-hover;
        }
    }
}

.search-tools {
    display: none;
    &.show {
        display: block;
    }
    background: darken($brand-primary, 10%);
    padding-top: 1rem;
    .row {
        @include grid-row();
    }
    input[type="text"] {
        border: none;
    }
    #searchform {
        @if ($offcanvas = true) {
        @include breakpoint(small) {
            @include grid-column(12);
        }
    }
        @include breakpoint(medium) {
            @include grid-col-pos(1);
            @include grid-column(10);
        }
        @include breakpoint(large) {
            @include grid-col-pos(2);
            @include grid-column(8);
        }
    }
}