/*
* Stripes
* JellyPress Master
*
* 5 July 2019
*/

.stripe {
    .stripe-content {
        @include grid-column(12);
    }
}

.striped-page-header {
    text-align: center;
    section {
        @include grid-row()
    }
    &.text-align-left {
        text-align: left;
    }
    &.stripe-narrow section .stripe-content {
        @include breakpoint(large) {
            @include grid-col-pos(1);
            @include grid-column(10);
        }
    }
}

.stripe {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background: whitesmoke;
    
    header h1, header h2, header h4 {
        margin-bottom: 1rem;
    }
	
    header h4 {
        color: $body-font-color;
    }
  
    &.stripe-no-pad {
        padding-top: 0;
        padding-bottom: 0;
    }
    
    &.stripe-no-pad-top {
        padding-top: 0; 
    }
    
    &.stripe-no-pad-bottom { 
        padding-bottom: 0;
    }
	
    @each $name, $color in $stripe-colours-list {
        &.stripe-#{$name} {
            background: $color;
            padding-bottom: 2rem;
            @include text-contrast($color);
            h1, h2, h3, h4, h5, h6, a, p a {
                @include text-contrast($color);
            }
            a:hover, a:focus {
                @include text-contrast-hover($color);
            }
            p a:hover, p a:focus {
                @include text-contrast-hover($color);
            }
            a.button {
                color: $black;
                background: $white;
                &:hover, &:focus {
                    background: darken($white, 20%);
                }
                svg {
                    path, line, polyline {
                        stroke: $black;
                        fill: transparent;
                    }
                }
            }
        }
        &.stripe-no-pad {
            padding-top: 0;
            padding-bottom: 0;
        }
    
        &.stripe-no-pad-top {
            padding-top: 0;
        }
    
        &.stripe-no-pad-bottom {
            padding-bottom: 0;
        }
    }
    @each $name, $color in $stripe-colours-list {
        &.stripe-#{$name}-reversed {
            background: $white;
            padding-bottom: 2rem;
            .slick-dots li button {
                 background: $color;
            }
            h1, h2, h3, h4, h5, h6, a, p a {
                color: $color;
            }
            a:hover, a:focus {
                 color: $color;
            }
            p a:hover, p a:focus {
                 color: $color;
            }
            .slick-next::before, .slick-prev::before  {
                 border-color: $color;
            }
            a.button {
                 background: $color;
                color: $white;
           	&:hover, &:focus {
                   background: darken($color, 20%);
           		transform: $button-transform;
           		box-shadow: $button-shadow-hover;
                   color: $button-color-hover;
           	}
            }
        }
        &.stripe-no-pad {
            padding-top: 0;
            padding-bottom: 0;
        }
    
        &.stripe-no-pad-top {
            padding-top: 0;
        }
    
        &.stripe-no-pad-bottom {
            padding-bottom: 0;
        }
    }
    &.stripe-brand-primary {
        h1, h2, h3, h4, h5, h6, p a {
            color: $white;
        }
        p {
            color: $white;
        }
        a.button {
            color: $black;
            background: $white;
            &:hover, &:focus {
                background: darken($white, 20%);
            }
            svg {
                path, line, polyline {
                    stroke: $black;
                    fill: transparent;
                }
            }
        }
			  
    }
}

.stripe-custom-html {
    &.grid-row {
        section {
            @include grid-row();
        }
    }
}
