/*
  Typography
  Updated: 01-07-2019
*/

html {
    scroll-behavior: smooth;
}

h1 {
    line-height: 1.1;
}

h2 {
    line-height: 1.2;
}

blockquote {
    font-style: normal;
    position: relative;
    border-left: none;
    padding: 0 2.5em;
    quotes: "\201C""\201D";
}

blockquote:before { 
    color: $white;
    content: open-quote;
    font-size: 60px;
    font-weight: bold;
    position: absolute;
    left: 10px;
    top: 0;
    line-height: 1;
}

.stripe blockquote {
     padding: 0 2em;
     font-weight: bold;
     &:before {
    left: 0;
     }
     p em {
          font-style: normal;
     }
     position: relative;
     border-left: none;
}

time {
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
	font-size: 0.9rem;
	color: $dark-gray;
    svg {
        display: inline;
        vertical-align: bottom;
        height: 1.35rem;
    }
}

img.size-full {
    width: 100%;
    height: auto;
}

.svg-icon {
	width: 1rem;
	margin-right: 0.3rem;
	display: inline-block;
	vertical-align: bottom;
}

iframe {
    width: 100%;
}

.subheading {
    font-weight: normal;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

// Fun bits!!!

.alignwide {
  /* Set these margins to work with your own theme. */
  margin-left: -80px;
  margin-right: -80px;
  max-width: 100vw;
}

.alignfull {
  margin-left: calc(-100vw / 2 + 100% / 2);
  margin-right: calc(-100vw / 2 + 100% / 2);
  max-width: 100vw;
}

.alignfull img {
  width: 100vw;
}

#site-content #main {
    -webkit-transition: -webkit-transform .28s, opacity .28s;
    -ms-transition: -o-transform .28s, opacity .28s;
    -o-transition: -o-transform .28s, opacity .28s;
    transition: transform .28s, opacity .28s;
}
#site-content.slide-out #main {
 -webkit-transform: translate3d( 0, 100px, 0 );
   -ms-transform: translate3d( 0, 100px, 0 );
   -o-transform: translate3d( 0, 100px, 0 );
    transform: translate3d( 0, 100px, 0 );
    opacity: 0;
}